{% extends "admin_layout.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Add Subjects</h4>
          </div>
          <div class="card-body">
            <form action="/add_subjects" method="POST">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                <label for="name" class="form-label">Subject Name</label>
                {{ form.name(class_="form-control", placeholder="Subject Name") }}
                {% if form.name.errors %}
                  <div class="text-danger">
                    {% for error in form.name.errors %}
                      <small>{{ error }}</small><br>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Subject Description</label>
                {{ form.description(class_="form-control", placeholder="Subject Description") }}
                {% if form.description.errors %}
                  <div class="text-danger">
                    {% for error in form.description.errors %}
                      <small>{{ error }}</small><br>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="mb-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/admin_dashboard" type="button" class="btn btn-primary">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
