{%extends 'admin_layout.html'%} <!--extends admin layout-->
{%block content%}
  <!-- Admin Dashboard -->
  <div class="container">
  {% if subjects %}
    <div class="row">
    {% for subject in subjects %}
      <!-- Subject Card 1 -->
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/static/images/R.png" class="card-img-top" alt="Subject 1" />
          <div class="card-body">
            <h5 class="card-title">Subject 1</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <button type="button" class="btn btn-outline-primary">+Add Chapters</button>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {%else%}
    <h3 class="center">No Subjects Found</h3>
    <!-- Add New Subjects Button -->
    <div class="center"><button type="button" class="btn btn-primary">+ADD NEW SUBJECTS</button></div>
  </div>
  {%endif%}
{%endblock content%}
