{% extends "admin_layout.html" %}

{% block content %}
    {% if subject %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Edit Subject</h4>
          </div>
          <div class="card-body">
            <form action="/edit_subject/{{subject.id}}/{{name}}" method="POST">
              <div class="mb-3">
                <label for="subject_name" class="form-label">Subject Name</label>
                <input type="text" class="form-control" name="subject_name" id="subject_name" value="{{subject.name}}" required>
              </div>
              <div class="mb-3">
                <label for="subject_description" class="form-label">Subject Description</label>
                <input type="text" class="form-control" name="subject_description" id="subject_description" value="{{subject.description}}" required>
              </div>
              <div class="mb-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-success">Save</button>

                <a href="/admin_dashboard/{{name}}" type="button" class="btn btn-primary">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
{% endblock %}
