{% extends 'user_layout.html' %}
{% block content %}

    <!-- Content -->
    <div class="container">
      <div class="row">
        <!-- First Card -->
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img src="R.png" class="card-img-top" alt="Upcoming Quizzes" />
            <div class="card-body">
              <h5 class="card-title">Upcoming Quizzes</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <div class="btn-spacing">
                <button type="button" class="btn btn-outline-primary">View</button>
                <button type="button" class="btn btn-outline-primary">Start</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add New Subjects Button -->
    </div>
{% endblock content %}